*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  line-height: 24px;
  margin: 0;
}

/* Atomic css */
.capitalize {
  text-transform: capitalize;
}

.w-full {
  width: 100%;
}

.m-0 {
  margin: 0 !important;
}

.mt-1 {
  margin-top: 16px !important;
}

.my-1 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}
